<div class="header-container">
    <div class="logo-container">
      <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
        <nb-icon icon="menu-2-outline"></nb-icon>
      </a>
      <a class="logo" href="#" (click)="navigateHome()">Ozzy <span>G </span></a>
      <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
        <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
      </nb-select>
    </div>
  
  </div>
  
  <div class="header-container">
    <nb-actions size="small">
  
     
       
        <nb-action icon="power" link="/auth/log-out"></nb-action>
      
      
      <nb-action class="user-action">
        <nb-user [onlyPicture]="userPictureOnly" [name]="user">
        </nb-user>
        
      </nb-action>
    </nb-actions>
  </div>