<nb-card status="primary">
    <nb-card-header>
     Reset Password 
    </nb-card-header>
    <nb-card-body>
  <form (ngSubmit)="resetPassword(form)" #form="ngForm" aria-labelledby="title">
  
    <div class="form-control-group">
      <label class="label" for="input-newPassword">New Password:</label>
      <input nbInput
             ngModel
             #newPassword="ngModel"
             id="input-newPassword"
             name="newPassword"
             placeholder="Enter New Password"
             fullWidth
            >
      
    </div>

    <div class="form-control-group">
        <label class="label" for="input-confirmNewPassword">Retype New Password:</label>
        <input nbInput
               ngModel
               #confirmNewPassword="ngModel"
               id="input-confirmNewPassword"
               name="confirmNewPassword"
               placeholder="Retype Password"
               fullWidth
              >
        
      </div>

      <div class="form-control-group">
        <label class="label" for="input-token">Password Reset Code:</label>
        <input nbInput
               ngModel
               #token="ngModel"
               id="input-token"
               name="token"
               placeholder="Paste the code you got from email"
               fullWidth
              >
        
      </div>

      <div class="form-control-group">
        <label class="label" for="input-token">Email:</label>
        <input nbInput
               ngModel
               #token="ngModel"
               id="input-token"
               name="email"
               placeholder="Enter your email"
               fullWidth
              >
        
      </div>
  
  
   
  
  
    <div style="height: 20px;"></div>
  <button nbButton
            fullWidth
            status="success"
            [disabled]="submitted || !form.valid"
            [class.btn-pulse]="submitted">
      Save
    </button>
   
    
  </form>
  </nb-card-body>
  </nb-card>